<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net452" />
  <package id="Common.CheckComboBox" version="1.0.0" targetFramework="net451" />
  <package id="ExcelReader" version="2.0.0.0" targetFramework="net46" requireReinstallation="true" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net46" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net46" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net46" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net46" />
  <package id="OpenCVSharp" version="2.4.0.1" targetFramework="net46" />
  <package id="Syncfusion.Compression.Base" version="17.3.0.30" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="17.3.0.30" targetFramework="net46" />
  <package id="Syncfusion.Pdf.WinForms" version="17.3.0.30" targetFramework="net46" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net46" />
</packages>